* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.playing-board {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-size {
    width: 100px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: black 1px solid;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-container h3:first-child {
    width: 100%;
    text-align: start;
}

.card-container h3:last-child {
    width: 100%;
    text-align: end;
}

.playing-board-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-interaction-container {
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.discard-pile {
    width: 100px;
    height: 100%;
    border-radius: 5px;
    background-color: #d4d4d4;
}

.back-of-card {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
}

.back-of-card img {
    width: 100%;
}