* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(56, 135, 56);
    display: flex;
    justify-content: center;
}

.playing-board-form {
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
}

.playing-board {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
    padding: 20px;
}

.card-size {
    width: 104px;
    height: calc(303px / 2);
}

.cards-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bg-card {
    position: absolute;
    top: 0;
    background-color: rgb(50, 128, 50);
    border-radius: 5px;
}

.card-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: black 1px solid;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-container h3 {
    margin: 0;
}

.card-container h3:first-child {
    width: 100%;
    text-align: start;
}

.card-color {
    color: red;
}

.card-container h3:last-child {
    width: 100%;
    text-align: end;
}

.user-interaction-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding: 50px;
}

.discard-pile {
    border-radius: 5px;
    background-color: rgb(50, 128, 50);
}

.back-of-card {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}

.back-of-card div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.5);
}

.back-of-card img {
    width: 100%;
    height: 100%;
}

.reset-game {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(207, 61, 61);
    padding: 5px;
    color: white;
    transition: ease .2s;
}

.reset-game:hover {
    transition: ease .2s;
    background-color: rgb(178, 52, 52);
}