:root {
    --bg-color: #36594a;
    --bg-green-shadow: #335546;
    --border-color: #17251f;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --red-card: #FB100C;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color-light);
}

main, form {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

a, button {
    color: var(--text-color-light);
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.2rem;
}

button {
    outline: none;
    cursor: pointer;
}

/* Custom classes */

.main-game-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game-container {
    background: var(--bg-green-shadow);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start-game-container a {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px 0px;
    transition: .2s;
}

.start-game-container a:hover {
    background: var(--bg-color);
    transition: .2s;
}

.aces-up-container {
    display: flex;
    gap: 50px;
}

.game-board-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    max-width: 100%;
    margin-top: 20px;
}

.card-size {
    width: 158px;
    height: 253px;
    border-radius: 10px;
}

.empty-card-container {
    background: var(--bg-green-shadow);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.aces-game-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.round-btn {
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

.round-btn img {
    max-width: 100%;
}

.new-game {
    padding: 10px 0;
    transition: .2s;
}

.new-game:hover {
    transition: .2s;
    background: var(--bg-color);
}

.card {
    position: absolute;
    background: #fff;
    border: 1px solid var(--border-color);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.card h3 {
    text-align: start;
    width: 100%;
    margin: 0;
    font-size: 2rem;
}

.card h3:nth-child(2) {
    text-align: center;
}

.card h3:nth-child(3) {
    text-align: end;
}

.red-card {
    color: var(--red-card);
}

.card-column {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.count-down-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, .4);
    font-size: 7rem;
}

.discard {
    position: static;
}